
body {
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #fffc00, #ffffff);
}

.top {
    margin-top: 150px;
}

.card-img-top {
    width: 105px;
}

#game-board {
    /* background-color: gray; */
    background: linear-gradient(to right, #283c86, #45a247);
    background-size: cover;
    width: 70vmin;
    height: 70vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake {
    background-color: blue;
    border: .25vmin solid black;
}

.food {
    background-color: yellow;
    border: .25vmin solid black;
}